html, body{
  height: 100%;
  width: 100%;
}
body{
  font-size: 14px;
  background:#F5F5F5;  
  color: #666;
}
.app-box{
  flex: 1;
}

.search-box{
  width: 100%;
  height: 30px;
  border: 1px solid #eee;
  border-radius: 30px;
  box-shadow: 0 1px 1px #ccc;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  .search-icon{
    margin: 0 10px;
  }
  z-index: 1000;
  background: #fff;
}
img{
  border-radius: 5px;
}

.toast-box{
  position: fixed;
  // z-index: 101;
  width: 100%;
  height: 100vh;
  // background: #fff;
}


